:root {
    --qs-brand-color0: #3D1A6C;
    --qs-brand-color1: #28C5D5;
    --qs-brand-color2: #2A114D;

    --qs-accent-color0: #32C574;
    --qs-accent-color1: #28C5D5;
    --qs-accent-color2: #E8E8E8;

    --qs-warn-color0: #F2F2F2;
    --qs-warn-color1: #7E7E7E;
    --qs-warn-color2: #515B5D;
    
}