:root {
    --qs-brand-color0: #652e8e;
    --qs-brand-color1: #957da6;
    --qs-brand-color2: #4f4173;

    --qs-accent-color0: #05773d;
    --qs-accent-color1: #49b374;
    --qs-accent-color2: #045a2e;

    --qs-warn-color0: #e86825;
    --qs-warn-color1: #e89061;
    --qs-warn-color2: #bd5627;
    
}